@font-face {
    font-family: "Roboto", sans-serif;
}

body {
    color: #434455;
    background-color: #ffffff;
    font-family: "Roboto", sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    cursor: pointer;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.container {
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 2px solid red; /* NB delete */
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

/* ===HEADER=== */
.header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.header-logo {
    color:  #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-right: 76px;
}

.header-logo-color {
    color:#2e2f42;
}

.header-menu-list {
    display: flex;
    gap: 40px;
}

.header-menu-item {
}

.header-menu-link {
    color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    display: block;
}

.header-menu-link:focus {
    color: #404bbf;
}

.header-menu-link:hover {
    color: #404bbf;
}

.header-address {
    color: #434455;
    font-style: normal;
}

.header-address {
}

.header-address-list {
    display: flex;
    gap: 40px;
}

.header-address-item {
}

.header-address-link {   
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header-address-link:hover {
    color: #404bbf;
} 

.header-address-link:focus {
    color: #404bbf;
} 
/* ===HEADER END=== */

/* ===HERO (Section1)=== */
.hero {
    padding: 188px 0;
    background-color: #2e2f42;
}

.hero-container {
}

.hero-title {
    color: #fff;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    max-width: 496px;
    margin-bottom: 48px;
    margin-right: auto;
    margin-left: auto
}

.hero-btn {
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
    text-align: center;
    display: block;
    padding: 16px 32px;
    border: none;
    align-items: flex-start;
    gap: 10px;
    min-width: 169px;
    border-radius: 4px;
    margin-right: auto;
    margin-left: auto
}

.hero-btn > body {
    font-family: "Roboto"; sans-serif;
}

.hero-btn:focus {
    background-color: #404bbf;
}

.hero-btn:hover {
    background-color: #404bbf;
}
/* ===HERO (Section1) END=== */

/* ===ADVANTAGE (Section 2)=== */
.advantages {
}

.advantages-list {
    display: flex;
    gap: 24px;
}

.advantages-item {
    width: calc((100% - 24px*3) /4);
}

.advantages-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.advantages-item-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ===ADVANTAGE (Section 2) END=== */

/* ===TEAM (Section 3)=== */
.team {
    background-color: #f4f4fd;
}

.team-container {
}

.team-title {
    color: #2E2F42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 72px;
}

.team-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
}

.team-item { 
    background-color: #FFFFFF;
    border: 1px solid #fff;
    border-top: none;
    border-radius: 0px 0px 4px 4px;
    width: calc((100% - 24px*3) /4); 
    box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-img {
}

.team-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.team-positiion {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.subtitle-position {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
}
/* ===TEAM (Section 3) END=== */

/* ===PORTFOLIO (Section 4)=== */
.portfolio {
}

.portfolio-title {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
}

.portfoloi-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    row-gap: 48px;
    justify-content: center;
}

.portfolio-item {
    background-color: #FFF;
    width: calc((100% - 48px) / 3);
}

.portfolio-card {
}

.portfolio-subtitle {
    color: #2e2f42;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    margin-bottom: 8px;
}

.portfolio-text {
    color: #434455;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.portfolio-description {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
/* ===PORTFOLIO (Section 4) END=== */

/* ===FOOTER=== */
.footer {
    padding: 100px 0;
    background-color: #2e2f42;
}

.footer-container {
}

.footer-logo {
    color: #4d5ae5;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-color {
    color: #f4f4fd;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* ===FOOTER END=== */
